In [75]:
import pandas as pd
import yfinance as yf
import datetime
from datetime import date, timedelta
from dateutil.relativedelta import relativedelta
today = date.today()
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
currPort = pd.read_csv('data/Current Portfolio.csv', index_col='Date')
currPort.head()

,Description,Ticker,Action,Shares,Amount,Amount,Commission,Reg Fee,Details
Date,,,,,,,,,
26 Apr 2022,Bought 4 FSI @ 3.02,FSI,Buy,4,$(3.02),$(12.08),0,0,NaN
26 Apr 2022,Bought 5 LIQT @ 1.7,LIQT,Buy,5,$(1.70),$(8.50),0,0,NaN
26 Apr 2022,Bought 3 GEVO @ 3.82,GEVO,Buy,3,$(3.82),$(11.46),0,0,NaN
26 Apr 2022,Bought 5 WRAP @ 2.85,WRAP,Buy,5,$(2.85),$(14.25),0,0,NaN
29 Apr 2022,Bought 5 USDP @ 6.79,USDP,Buy,5,$(6.79),$(33.95),0,0,NaN

In [110]:
tickers = []
for tick in currPort.Ticker.unique().tolist():
    if currPort.groupby('Ticker').sum().loc[tick, 'Shares']:
        tickers.append(tick)

['FSI', 'LIQT', 'GEVO', 'USDP', 'SLDP', 'ACHR', 'LTHM', 'MNTS', 'PCT']

In [85]:
d1 = today.strftime("%Y-%m-%d")
end_date = d1
d2 = date.today() - relativedelta(years=5)
d2 = d2.strftime("%Y-%m-%d")
start_date = d2
start_date

'2017-05-10'

In [116]:
data = pd.DataFrame()
for tick in tickers:        
    temp = yf.download(
        tick, 
        start=start_date, 
        end=end_date, 
        progress=False
    )
    temp['Ticker'] = tick
    data = pd.concat([data, temp])

data.head()

            Open  High   Low  Close  Adj Close  Volume Ticker
Date
2017-05-10  1.54  1.64  1.54  1.567   1.429430   40700    FSI
2017-05-11  1.59  1.62  1.55  1.590   1.450411   26400    FSI
2017-05-12  1.61  1.67  1.56  1.670   1.523388   75300    FSI
2017-05-15  1.67  1.77  1.67  1.730   1.578120   66300    FSI
2017-05-16  1.77  1.77  1.75  1.750   1.596364   35600    FSI

In [117]:
data.to_csv('data/Current Portfolio Historic Data.csv')