In [ ]:
import yahoo_fin.stock_info as si
import yfinance as yf
import pandas as pd

In [ ]:
quote = si.get_quote_table("aapl")
quote

In [ ]:
valuation = si.get_stats_valuation("wrap")
valuation

In [ ]:
balance = si.get_balance_sheet('tsla')
balance

In [ ]:
analyst = si.get_analysts_info('wrap')
analyst

In [300]:
ticker = 'tsla'

# Get Cash FLow Data
cash = si.get_cash_flow(ticker)

# Stack the data
cash_stacked = pd.DataFrame()
for idx in cash.index:
    temp = cash.loc[[idx]].melt()
    temp['breakdown'] = idx
    cash_stacked = pd.concat([temp, cash_stacked], ignore_index=True)

# cash_stacked.to_csv('data/wrap_cash.csv', index=False)

market = yf.download(
    ticker, 
    start=cash_stacked['endDate'].min(), 
    end=cash_stacked['endDate'].max(), 
    progress=False
)
# data.to_csv('data/stock_data.csv')
market_change = market[['Adj Close']].reset_index()
market_change['year'] = market_change['Date'].dt.year

# Find the change within the cash reporting periods
adj_close = []
for yr in market_change.year.unique():
    temp = market_change.loc[market_change.year == yr]
    adj_close.append(
        temp.loc[temp.Date == temp.Date.max(), 'Adj Close'].values.item() - \
            temp.loc[temp.Date == temp.Date.min(), 'Adj Close'].values.item()
    )

df = cash_stacked.pivot(index = 'endDate', columns='breakdown', values = 'value')
df['adj_close'] = adj_close
df['date'] = df.index
df.reset_index(drop=True, inplace=True)
df

breakdown,capitalExpenditures,changeInCash,changeToAccountReceivables,changeToInventory,changeToLiabilities,changeToNetincome,changeToOperatingActivities,depreciation,effectOfExchangeRate,investments,issuanceOfStock,netBorrowings,netIncome,otherCashflowsFromFinancingActivities,otherCashflowsFromInvestingActivities,totalCashFromFinancingActivities,totalCashFromOperatingActivities,totalCashflowsFromInvestingActivities,adj_close,date
0,-2319000000,312000000,-497000000,-1023000000,2203000000,969000000,-625000000,1888000000,-23000000,-132000000,296000000,89000000,-976000000,189000000,46000000,574000000,2098000000,-2337000000,0.000000,2018-12-31
1,-1432000000,2506000000,-367000000,-429000000,1447000000,1524000000,-1000000000,2092000000,8000000,-132000000,1111000000,798000000,-862000000,-380000000,46000000,1529000000,2405000000,-1436000000,21.642002,2019-12-31
2,-3232000000,13118000000,-652000000,-422000000,2423000000,2716000000,-1165000000,2322000000,334000000,-132000000,12686000000,-2488000000,721000000,-225000000,123000000,9973000000,5943000000,-3132000000,619.617981,2020-12-31
3,-8014000000,-1757000000,-130000000,-1709000000,5371000000,2650000000,-3014000000,2810000000,-183000000,-132000000,707000000,-5732000000,5519000000,-178000000,6000000,-5203000000,11497000000,-7868000000,340.569946,2021-12-31

In [299]:
df = cash_stacked.pivot(index = 'endDate', columns='breakdown', values = 'value')
df['adj_close'] = adj_close
df['date'] = df.index
df.reset_index(drop=True, inplace=True)
df

breakdown,capitalExpenditures,changeInCash,changeToAccountReceivables,changeToInventory,changeToLiabilities,changeToNetincome,changeToOperatingActivities,depreciation,investments,issuanceOfStock,netBorrowings,netIncome,otherCashflowsFromFinancingActivities,otherCashflowsFromInvestingActivities,totalCashFromFinancingActivities,totalCashFromOperatingActivities,totalCashflowsFromInvestingActivities,adj_close,date
0,-14225.0,9274920.0,-4396.0,-27075.0,196750.0,512988.0,-55843.0,21875.0,-24980000.0,13683222.0,-39435.0,-3336435.0,-1542436.0,-11169.0,12101351.0,-2692136.0,-134295.0,0.00,2018-12-31
1,-256742.0,4624968.0,-190951.0,-1892768.0,520460.0,1458685.0,-182589.0,127014.0,-24980000.0,14670236.0,414000.0,-8325488.0,-1177446.0,-11169.0,13492790.0,-8485637.0,-382185.0,3.15,2019-12-31
2,-249000.0,-337000.0,-1686000.0,-343000.0,482000.0,1794000.0,-139000.0,285000.0,-24980000.0,39296000.0,414000.0,-12580000.0,-1749000.0,4000.0,37961000.0,-12187000.0,-26111000.0,-1.53,2020-12-31
3,-995000.0,-11710000.0,-2111000.0,559000.0,836000.0,6595000.0,-219000.0,566000.0,-5009000.0,13725000.0,-275000.0,-24449000.0,NaN,4000.0,13450000.0,-18223000.0,-6937000.0,-0.74,2021-12-31